# http api settings
MVP_API_ADDRESS=http://localhost:12345
MVP_API_NAME=mvp_service
MVP_API_HOST=0.0.0.0
MVP_API_PORT=12345
# feature flags
MVP_FEATURE_SWAGGER=true
# database settings
MVP_DB_DRIVER=postgres
MVP_DB_HOST=localhost
MVP_DB_PORT=5432
MVP_DB_USER=mvp_user
MVP_DB_PASS=
MVP_DB_NAME=mvp_db
MVP_DB_SSLMODE=disable
# number of connections = ((core_count * 2) + effective_spindle_count)
MVP_DB_MAXCONNECTIONPOOL=4
# redis settings
MVP_CACHE_HOST=0.0.0.0
MVP_CACHE_PORT=6379
MVP_CACHE_NAME=1
MVP_CACHE_USER=
MVP_CACHE_PASS=
MVP_CACHE_TIME=5
